{{ partial "head.html" . }}
<script type="application/ld+json">
{
    "mainEntityOfPage":{
      "@type" : "BlogPosting",
      "@id":"{{ .Permalink }}"
    },
    "@id" : "{{ .Permalink }}",
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "articleSection" : "{{ .Section }}",
    "name" : "{{ .Title }}",
    "headline" : "{{ .Title }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "en-US",
    "author" : "{{ .Site.Author.name }}",
    "creator" : "{{ .Site.Author.name }}",
    "accountablePerson" : "{{ .Site.Author.name }}",
    "copyrightHolder" : "{{ .Site.Author.name }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "publisher" : {
        "@type" : "Organization",
        "name" : "Purple Booth Ltd",
        "logo": {
            "url" : "{{ .Site.Params.logo | absURL }}",
            "@type": "ImageObject",
            "height": "4329px",
            "width": "2904px"
        }
    },
    "image": {
        "url" : "{{ .Site.Params.logo | absURL }}",
        "@type": "ImageObject",
        "height": "4329px",
        "width": "2904px"
    },
    "license" : "{{ "/license" | absURL }}",
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05UTC" }}",
    "dateModified" : "{{ .Date.Format "2006-01-02T15:04:05UTC" }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "keywords" : [ {{ range $i, $e := .Params.categories }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} ]
}
</script>
<div class="content container">
  <div class="post">
    <h1>{{ .Title }}</h1>
    <span class="post-date">{{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read{{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}
    {{ if isset .Params "categories" }}
    <br/>
    {{ $BaseURL := .Site.BaseURL }}
    {{ range .Params.categories }}<a class="label" href="{{ $BaseURL }}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
    {{ end }}</span>
    {{ .Content }}
  </div>
  {{ if .Site.DisqusShortname }}<div id="disqus_thread"></div>{{ end }}
</div>

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
var disqus_shortname = {{ . }};
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{{ end }}

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
    var disqus_shortname = {{ . }};
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{ end }}
{{ partial "foot.html" . }}