{{ partial "head.html" . }}
<link rel="payment" href="https://flattr.com/submit/auto?url={{ urlquery .Site.BaseUrl }}&user_id=billieathompson&title= {{ urlquery .Title }} %C2%B7 {{ urlquery .Site.Title }} " type="text/html" />
<body>

{{ partial "sidebar.html" . }}

<div class="content container">
    <ul class="posts">
        {{ range .Data.Pages }}
        <li>
            <span>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
            </span>
        </li>
        {{ end }}
    </ul>
</div>
</body>
</html>
