.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 3px solid #F2F2F2;
    border-radius: 8px;
    background: #80307c;
    color: #FFFFFF;
    text-decoration: none;
}
.theme-base-06 .content a.button, a.button:hover,
.theme-base-06 .content a.button, a.button:active,
.theme-base-06 .content a.button, a.button:focus {
    color: #FFFFFF;
    text-decoration: none;
}
