<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="google-site-verification" content="CwRVdTOfrcTDi33hZZmXsPVMmH6VGUrY2bET6fj-FHM" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@PurpleBooth" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}{{ end }}" />
  <meta name="twitter:image" content="{{ "Purple Booth Logo-01.png" | absURL }}" />

  {{ with .Permalink }}<meta property="og:url"         content="{{ . }}" />{{ end }}

  {{ if .Permalink }}<meta property="og:type"        content="article" />{{ end }}
  <meta property="og:site_name"   content="Purple Booth" />
  <meta property="og:title"       content="{{ .Title }}" />
  <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}{{ end }}" />
  <meta property="og:image"       content="{{ "Purple Booth Logo-01.png" | absURL }}" />

  <title>{{ .Title }} &middot; {{ .Site.Author.name }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/font-awesome-4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">

  {{ with .Permalink }}<link rel="canonical" href="{{ . }}" /> {{ end }}

  <!-- Icons -->
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- RSS -->
  {{ $siteTitle := .Site.Title }}
  {{ $authorName := .Site.Author.name }}
  {{ with .RSSLink }}<link href="{{ . }}" rel="alternate" type="application/rss+xml" title="{{ $siteTitle }} &middot; {{ $authorName }}" />{{ end }}

  <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}">
  <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ else }}{{ .Site.Params.defaultKeywords }}{{ end }}">
  {{ with .Site.Params.googleAuthorship }}<link rel="author" href="http://plus.google.com/{{ . }}">{{ end }}
</head>
<body{{ with .Site.Params.theme }} class="{{ . }}"{{ end }} >
{{ partial "sidebar.html" . }}
